{% include "header.html"%}
<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body >
    <br>
    <div class="container" style="padding-top: 50px;color: black">
      {% with msg = get_flashed_messages(with_categories=true) %}
      {% if msg %}
          {% for category, msgs in msg%}
             <center><div class = "alert alert-{{ category }}">
                  <p>{{ msgs }}</p>
              </div>
            </center> 
          {% endfor %}
      {% endif %}
  {% endwith %}
</div>

    {% block content %}

 <form class="pure-form pure-form-aligned" method = "POST">
    <fieldset style="position: center">
      <h1 style="color: black;padding-top: 100px;"><center>Transfer Money</center></h1>
		<center>
       <div class="pure-control-group">
        {{ form.hidden_tag() }}
             <p style="color: black;"> {{ form.customer_id.label }}   {{ form.customer_id(size=15)  }}  
            {% for error in form.customer_id.errors %}
            <span class="error-message">{{ error }}</span>
           {% endfor %}
          </p>
           <p style="color: black;"> {{ form.source_account_type.label }}   {{ form.source_account_type(size=15)  }}  
            {% for error in form.source_account_type.errors %}
            <span class="error-message">{{ error }}</span>
           {% endfor %}
          </p>
           <p style="color: black;"> {{ form.target_account_type.label }}   {{ form.target_account_type(size=15)  }}  
            {% for error in form.target_account_type.errors %}
            <span class="error-message">{{ error }}</span>
           {% endfor %}
          </p>

           <p style="color: black;"> {{ form.transfer_amount.label }}   {{ form.transfer_amount(size=15)  }}  
            {% for error in form.transfer_amount.errors %}
            <span class="error-message">{{ error }}</span>
           {% endfor %}
          </p>
            <span style="color: red;padding-left: 250px;">All Fields are mandatory</span>
          <p style="color: black;padding-left: 210px;"> {{ form.submit() }}   </p>




        </div>
                    

    </fieldset>
	</center>
</form>
 {% endblock %}
  </body>
  {%include "footer.html"%}
</html>